html{
  background-color: #772E25;
  color: gold;
}

body{
  //height: 100vh;
  background-image: url('../img/curtain.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 20%;
}

.headline {
  text-align: center;
}

.headline h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 1%;
  font-size: 50px;
}

.headline h4 {
  text-transform: lowercase;
  font-style: italic;
  margin-top: 0%;
}

.players-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;

  //background-color: lightgreen;
  text-align: center;
}

.player-card {
  display: inline;
  margin: 5%;
}

.player-card p {
  font-weight: 800;
  padding: 1%;
  display: inline;
  font-size: 1.5rem;
  width: 500px;
  height: 300px;
  //background-color: pink;
}

.player-1 p {
  border-radius: 25px 0px 0px 25px;
}

.player-2 p {
  border-radius: 0px 25px 25px 0px;
}

.roll-controls {
  width: 30%;
  margin: auto;
  text-align: center;
  //background-color: lightblue;
}

.sorry-message-holder{
  height: 1rem;
}

.round-score-holder{
  height: 1rem;
}

.dice-display{
  width: 30%;
  height: 10%;
  margin: auto;
  //background-color: pink;
  text-align: center;
}

.dice-display div{
  display: inline;
}

.die1 img, .die2 img{
  width: 15%;
  margin: auto;
}


.hidden{
  display: none;
}

button {
  min-width: 85px;
  font-size: 20px;
  width: 25%;
  font-weight: 700;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  border: none;
  border-radius: 0px;
  background-color: gold;
  color: #000000;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 4%;
}

button:hover {
  background-color: black;
  color: #ffffff;
}




.battle-pigs-win h1{
  text-align: center;
  text-transform: uppercase;
}


.battle-pigs-win{
  text-align: center;
}

img.fire-image {
  position: fixed;
  bottom: -165px;
  left: -10px;
  width: 101%;
  z-index: -2;
}

img.pig-image{
  height: 40vh;
  margin: auto;
  top: 42%;
  left: 33%;
  z-index: -1;
}

.player-turn {
  background-color: gold;
  color: #000000;
}

@media screen and (min-width: 596px) {
  button.roll-button {
    border-radius: 25px 0px 0px 25px;
  }
  button.hold-button {
    border-radius: 0px 25px 25px 0px;
  }
}



@media screen and (max-width: 595px) {
  button.roll-button {
    border-radius: 10px 10px 0px 0px;
  }
  button.hold-button {
    border-radius: 0px 0px 10px 10px;
  }
  .die1 img, .die2 img{
    width: 35%;
    margin: auto;
  }
}
